@import url('https://fonts.googleapis.com/css?family=Lato');
$font-family-sans-serif: 'Lato', sans-serif;
$theme-colors: (
  "primary": #a4dada,
  "secondary": #404348,
);
// Utilities 
body {
    overflow-x: hidden;
}
.box-shadow {
    -webkit-box-shadow: 19px 17px 23px -23px rgba(163,163,163,1);
    -moz-box-shadow: 19px 17px 23px -23px rgba(163,163,163,1);
    box-shadow: 19px 17px 23px -23px rgba(163,163,163,1);
}
.icon {
    width: 30%;
    height: 30%;
}

// Components
.jumbotron-reliable {
    min-height: 75vh;
}
h5 {
    a {
        color: var(--black);
        text-decoration: underline;
    }
    a:hover{
        text-decoration: underline;
        color: var(--gray);
    }
}
.satisfaction-img {
    display: none;
    padding: 0 !important;
}

.footer {
    padding: 64px;
    min-height: 50vh;
    background-color: #C4C4C4;
}
.btn-service:hover{
    border: 1px solid var(--primary);
    color: var(--primary);
}
.btn-service {
    width: 100%;
    height: 4rem;
    margin-bottom: 16px;
    border: 1px solid var(--light);
    display: flex;
    .btn-icon {
        display: flex;
        width: 70px;
        background-color: var(--primary);
        .icon {
            width: 2rem;
            height: 2rem;
            align-self: center;
        }
    }
    .btn-text {
        width: 100%;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            margin-bottom: 4px;
           
        }
    }
}
.form-newsletter {
    width: 60%;
    height: 60px;
    border: .5px solid var(--light);
    padding:1rem;

}
.btn-newsletter {
    color: var(--light);
    background-color: var(--secondary);
    border: none;
    padding:1rem;

}
// importing all of bootstrap -- must do.
@import "node_modules/bootstrap/scss/bootstrap";
a{
    color: var(--gray);
}
a:hover {
    color: var(--dark);
    text-decoration: none;
}
.card-deck {
    margin-bottom: 8rem;
}
.card {
    min-width: 18rem;
    margin: 3rem;
    max-height: 20rem;
    .card-body {
      display: flex;
      align-items: center;
    }
    .card-title {
        margin-bottom: 5px;
    }
    
}
.jumbotron {
    background-color:transparent;
}
// Media Queries
@media (min-width: 1200px) {
    .service-container {
        .btn-service:hover{
            border: 1px solid var(--primary);
            color: var(--primary);
        }
        .btn-service {
            width: 20rem;
            height: 5rem;
            margin-bottom: 16px;
            border: 1px solid var(--light);
            display: flex;
            .btn-icon {
                display: flex;
                width: 8rem;
                background-color: var(--primary);
                .icon {
                    width: 3rem;
                    height: 3rem;
                    align-self: center;
                }
            }
            .btn-text {
                justify-content: center;
            }
            i {display: none;}
        }
     }
    }
@media (min-width: 800px) { 
   .jumbotron-guarantee {
       padding: 0px 40px 0 40px;
       text-align: left;
       max-width: 80%;
   }
   .guarantee {
        display: flex;
   }
   .service-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8rem;
    }   
    .btn-service {
        width: 12rem;
        height: 5em;
        margin-bottom: 16px;
        border: 1px solid var(--light);
        display: flex;
        .btn-icon {
            display: flex;
            width: 8rem;
            background-color: var(--primary);
            .icon {
                width: 3rem;
                height: 3rem;
                align-self: center;
            }
        }
        i {display: none;}
    }
 }

@media (min-width: 768px) {
    .icon {
        width: 20%;
        height: 20%;
    }
    .satisfaction-img {
        display: block;
        padding: 0 !important;
    }
    .jumbotron-reliable {
        min-height: 40vh;
    }
    
    
    
}
@media (max-width: 768px) {
    .jumbotron  {
        h1 {
            font-size: 48px;
        }
    }
    .card {
        min-width: 18rem;
        margin: 5rem;
        max-height: 20rem;
        .card-body {
          display: flex;
          align-items: center;
        }
        .card-title {
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 576px) {
    .jumbotron  {
        h1 {
            font-size: 24px;
        }
    }
    .card {
        min-width: 18rem;
        margin: 5rem;
        max-height: 20rem;
        .card-body {
          display: flex;
          align-items: center;
        }
        .card-title {
            margin-bottom: 5px;
        }
        
    }
    .newsletter {
        display: none;
    }
    
}