@import url('https://fonts.googleapis.com/css?family=Lato');
$font-family-sans-serif: 'Lato', sans-serif;
$theme-colors: (
  "primary": #a4dada,
  "secondary": #404348,
);
// Utilities 
body {
    overflow-x: hidden;
}
.box-shadow {
    -webkit-box-shadow: 19px 17px 23px -23px rgba(163,163,163,1);
    -moz-box-shadow: 19px 17px 23px -23px rgba(163,163,163,1);
    box-shadow: 19px 17px 23px -23px rgba(163,163,163,1);
}
.icon {
    width: 30%;
    height: 30%;
}

// Components
.jumbotron-reliable {
    min-height: 75vh;
}
h5 {
    a, a:hover{
        text-decoration: underline;
    }
}
.satisfaction-img {
    display: none;
    padding: 0 !important;
}

.footer {
    padding: 64px;
    min-height: 50vh;
    
}
// importing all of bootstrap -- must do.
@import "node_modules/bootstrap/scss/bootstrap";
a{
    color: var(--gray);
}
a:hover {
    color: var(--dark);
    text-decoration: none;
}
.card {
    min-width: 18rem;
    margin: 5rem;
    max-height: 20rem;
    .card-body {
      display: flex;
      align-items: center;
    }
    .card-title {
        margin-bottom: 5px;
    }
    
}
.jumbotron {
    background-color:transparent;
}
// Media Queries

@media (min-width: 992px) { 
   .jumbotron-guarantee {
       padding: 0px 40px 0 40px;
       text-align: left;
       max-width: 80%;
   }
   .guarantee {
    display: flex;
   }
   
 }

@media (min-width: 768px) {
    .icon {
        width: 20%;
        height: 20%;
    }
    .satisfaction-img {
        display: block;
        padding: 0 !important;
    }
    .jumbotron-reliable {
        min-height: 40vh;
    }
}
@media (max-width: 768px) {
    .jumbotron  {
        h1 {
            font-size: 48px;
        }
    }
    .card {
        min-width: 18rem;
        margin: 5rem;
        max-height: 20rem;
        .card-body {
          display: flex;
          align-items: center;
        }
        .card-title {
            margin-bottom: 5px;
        }
        
    }
}

@media (max-width: 576px) {
    .jumbotron  {
        h1 {
            font-size: 24px;
        }
    }
    .card {
        min-width: 18rem;
        margin: 5rem;
        max-height: 20rem;
        .card-body {
          display: flex;
          align-items: center;
        }
        .card-title {
            margin-bottom: 5px;
        }
        
    }
    
}